@import '../App.scss';
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:8rem;
  
    .image{
      flex:1 1 30rem;
      position: relative;
  
      &::before,
      &::after{
        content: '';
        position: absolute;
        z-index: -1;
        background: $red;
        height: 15rem;
        width: 15rem;
      }
  
      &::before{
        top:0; left:0;
      }
  
      &::after{
        bottom:0; right:0;
      }
  
      img{
        width: 100%;
        padding:2rem;
      }
    }
  
    .content{
      flex: 1 1 42rem;
      display: flex;
      flex-direction: column;
  
      span{
        font-size: 2rem;
        color:$red;
      }
  
      .title{
        font-size: 4rem;
        color:$white;
        margin-top: .5rem;
      }
  
      p{
        font-size: 1.5rem;
        color:$light-white;
        padding: 1rem 0;
        line-height: 2;
      }
  
      .box-container{
        display: flex;
        flex-wrap: wrap;
        gap:2rem;
        margin-top: 1rem;
  
        .box{
          flex:1 1 20rem;
  
          h3{
            font-size: 2rem;
            color:$white;
  
            i{
              padding-right: 1.5rem;
              color:$red;
            }
          }
        }
      }
    }
  }