@import '../App.scss';
.discount{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url('../../public/banner-bg.jpg') no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../public/banner-bg.jpg') no-repeat;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
  
    span{
      font-size: 2rem;
      color:$red;
    }
  
    h3{
      padding-top: 1rem;
      color:$white;
      text-transform: uppercase;
      font-size: 3.5rem;
    }
  
    p{
      margin:1rem auto;
      max-width: 60rem;
      font-size: 1.5rem;
      color:$light-white;
      line-height: 2;
    }
  }