@import '../App.scss';
.trainers .box-container{
    @include grid(29rem);
  
    .box{
      height: 40rem;
      overflow: hidden;
      position: relative;
  
      &:hover .content{
        transform: translateY(0);
      }
  
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
  
      .content{
        position: absolute;
        bottom: 0; left:0; right:0;
        background: $light-bg;
        padding:2rem;
        transform: translateY(6.5rem);
  
        span{
          font-size: 1.5rem;
          color:$red;
        }
  
        h3{
          font-size: 2rem;
          color:$white;
          padding-top: .5rem;
        }
  
        .share{
          padding-top: 2rem;
          margin-top: 1.5rem;
          border-top: .1rem solid $light-white;
          display: flex;
          justify-content: center;
  
          .icon{
            cursor: pointer;
            font-size: 2rem;
            color:$white;
            margin-right: 1.5rem;
  
            &:hover{
              color:$red;
            }
          }
        }
      }
    }
  }