$red:#f00;
$black : #000;
$white : #fff;
$light-white:#aaa;
$light-bg:#111;

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax($val,1fr));
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
  
    &::-webkit-scrollbar{
      width: 1rem;
    }
  
    &::-webkit-scrollbar-track{
      background: $black;
    }
  
    &::-webkit-scrollbar-thumb{
      background: $red;
    }
  }
  body{
    background: $black;
  }
  section{
    padding:5rem 9%;
  }
  
  .heading{
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
  
    &::before{
      content: '';
      position: absolute;
      top:50%; left:0;
      transform: translateY(-50%);
      height: .1rem;
      width: 100%;
      background: $light-white;
      z-index: -1;
    }
  
    span{
      font-size: 3rem;
      color:$red;
      background: $black;
      padding:.5rem 1.5rem;
      border:.1rem solid $light-white;
      border-radius: .5rem;
    }
  }
  
  .btn{
    margin-top: 1rem;
    display: inline-block;
    padding:1rem 2.8rem;
    padding-right: 3rem;
    background:linear-gradient(130deg, $red 93%, transparent 90%);
    color:$white;
    cursor: pointer;
    font-size: 1.7rem;
  
    &:hover{
      transform:scale(1.1);
    }
  }
  


   
     
      // media queries 
      
      @media (max-width:991px){
      
        html{
          font-size: 55%;
          scroll-padding: 7rem;
        }
      
        .header{
          padding:0 2rem;
        }
      
        section{
          padding:3rem 2rem;
        }
      
        .home .slide{
          padding:2rem 5%;
      
          .content{
            width: 50rem;
      
            h3{
              font-size: 4rem;
            }
          }
        }
      
      }
      
      @media (max-width:768px){
      
        #menu-btn{
          display: inline-block;
      
          &.fa-times{
            transform: rotate(180deg);
          }
        }  
      
        .header{
          padding:2rem;
      
          .navbar{
            position: absolute;
            top:99%; left:0; right:0;
            background: $black;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      
            &.active{
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
      
            a{
              display: block;
              font-size: 2rem;
            }
          }
        }
      
        .about{
          gap:3rem;
      
          .image{
            margin-top: 5rem;
          }
      
          .content .title{
            font-size: 3rem;
          }
        }
      
        .features .box-container .box.second{
          flex-flow: column;
        }
      
      }
      
      @media (max-width:450px){
      
        html{
          font-size: 50%;
        }
      
      }